<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <h2>
    Welcome to {{title}}!
  </h2>
  <img width="500" src="https://image4.owler.com/logo/axe-finance_owler_20190412_123714_original.png">
</div>

<mat-progress-spinner 
    *ngIf="!events"
    color="primary"
    mode="indeterminate"
    class="mx-auto mt-5">
</mat-progress-spinner>

<div class="calendar-container" *ngIf="events">
    <div class="row mt-4">
        <div class="col-md-4 text-left">
            <!--<button type="button" routerLink="add" class="btn btn-light m-1" *ngIf="isAdmin">
                Aggiungi
            </button>-->
            <!--<div class="btn-group">
                <button type="button" class="btn btn-primary"
                    (click)="changeView('month')"
                    [class.active]="view === 'month'">
                    Mese
                </button>
                <button type="button" class="btn btn-primary"
                    (click)="changeView('week')"
                    [class.active]="view === 'week'">
                    Settimana
                </button>
                <button type="button" class="btn btn-primary"
                    (click)="changeView('day')"
                    [class.active]="view === 'day'">
                    Giorno
                </button>
            </div>-->
        </div>
        <div class="col-md-4 text-center">
            <h3 class="mt-0">{{ viewDate | calendarSchedulerDate:(view + 'ViewTitle'):locale:weekStartsOn:excludeDays:viewDays:startsWithToday }}</h3>
            <select #viewDayOptionSelect1 class="form-select d-none d-md-block d-xl-none" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect1.value)">
                <option [value]="1">By day</option>
                <option [value]="3">By week</option>
                <option [value]="7">By month</option>
            </select>
        </div>
        <div class="col-md-4 text-right">
            <div class="row">
                <div class="col-6 d-md-none d-xl-flex col-xl-6 valign-center text-right">
                    <select #viewDayOptionSelect2 class="form-select m-1" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect2.value)">
                        <option [value]="1">By day</option>
                        <option [value]="3">By week</option>
                        <option [value]="7">By month</option>
                    </select>
                </div>
                <div class="col-6 col-md-12 col-xl-6">
                    <div class="btn-group m-1" role="group">
                        <button type="button" class="btn btn-primary"
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                [daysInWeek]="viewDays"
                                [excludeDays]="excludeDays"
                                [disabled]="prevBtnDisabled"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Precedente"
                                    class="material-icons md-18">keyboard_arrow_left</i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-light"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Oggi"
                                    class="material-icons md-18">today</i>
                            </span>
                        </button>
                        <button type="button" class="btn btn-primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                [daysInWeek]="viewDays"
                                [excludeDays]="excludeDays"
                                [disabled]="nextBtnDisabled"
                                (viewDateChange)="dateOrViewChanged()">
                            <span class="valign-center">
                                <i title="Successivo"
                                    class="material-icons md-18">keyboard_arrow_right</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
  </div>
  <br>
  <div [ngSwitch]="view">
        <calendar-scheduler-view *ngSwitchCase="CalendarView.Week"
                                [viewDays]="viewDays"
                                [viewDate]="viewDate"
                                [events]="events"
                                [locale]="locale"                               
                                [responsive]="false"
                                [weekStartsOn]="weekStartsOn"
                                [excludeDays]="excludeDays"
                                [startsWithToday]="startsWithToday"
                                [hourSegments]="hourSegments"
                                [dayStartHour]="dayStartHour"
                                [dayEndHour]="dayEndHour"
                                [dayModifier]="dayModifier"
                                [hourModifier]="hourModifier"
                                [segmentModifier]="segmentModifier"
                                [eventModifier]="eventModifier"
                                [showEventActions]="true"
                                [showSegmentHour]="true"
                                [zoomEventOnHover]="true"
                                (viewDaysChanged)="viewDaysChanged($event)"
                                (dayHeaderClicked)="dayHeaderClicked($event.day)"
                                (hourClicked)="hourClicked($event.hour)"
                                (segmentClicked)="segmentClicked('Clicked', $event.segment)"
                                (eventClicked)="eventClicked('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)"
                                [refresh]="refresh">
        </calendar-scheduler-view>
    </div>
</div>

<div class="main-content">
    <div class="card mx-auto" style="width: 50em;">
      <div class="card-body">
          <h4 class="card-title">Team Members</h4>
          <ul class="list-group">
              <li class="list-group-item list-header">
                  <div class="column-label">Full Name</div>
                  <div class="column-label">Grade</div>
              </li>
              <li class="list-group-item" *ngFor="let employee of employees">
                  <div class="column">{{ employee.fullName }}</div>
                  <div class="column">{{ employee.grade }}</div>
                  <button class="btn btn-danger" (click)="deleteTeamMember(employee)">Delete</button>
              </li>
          </ul>
      </div>
  </div>
  
</div>
  

<div class="center-container">
    <div class="card mx-auto" style="width: 50em;">
    <div class="card-body">
        <h4 class="card-title">Add Team Member</h4>
        <form class="forms-sample" [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input class="form-control" [(ngModel)]="employee.fullName" type="text" formControlName="fullName">
                &nbsp;
                <div class="alert alert-danger" *ngIf="form.controls['fullName'].invalid && form.controls['fullName'].touched">
                    <p *ngIf="form.controls['fullName'].hasError('required')">Full Name is required!</p>
                    <p *ngIf="form.controls['fullName'].hasError('minlength')">Minimum length is 3 chars!</p>
                    <p *ngIf="form.controls['fullName'].hasError('maxlength')">Maximum length is 10 chars!</p>
                </div>
            </div>
            <div class="form-group">
                <label for="grade">Grade</label>
                <select class="form-control" [(ngModel)]="employee.grade" formControlName="grade">
                    <option *ngFor="let grade of gradeOptions | keyvalue" [ngValue]="grade.value">{{ grade.key }}</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="form.controls['grade'].invalid && form.controls['grade'].touched">
                    <p *ngIf="form.controls['grade'].hasError('required')">Grade is required</p>
                  </div>
                </div>

            <button type="submit" [disabled]="form.invalid" class="btn btn-primary me-2">Confirm</button>
            <button class="btn btn-light" routerLink="/home">Cancel</button>
        </form>
    </div>
</div>